<h1 class="md-toolbar">
          Login
        </h1>
<form class="form" name="form" ng-submit="login(form)">
    <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email" required>
    </md-input-container>
    <md-input-container flex>
        <label>Password</label>
        <input ng-model="user.password" type="password" required>
    </md-input-container>
    <div>
        <md-button class="md-raised md-primary" ng-click="login(form)">Login</md-button>
        <md-button class="md-raised" href="/signup">Register</md-button>
    </div>

</form>
<hr>