/*.btn-facebook {
  color: #fff;
  background-color: #3B5998;
  border-color: #133783;
}

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border-color: #c53727;
}

.btn-github {
  color: #fff;
  background-color: #fafafa;
  border-color: #ccc;
}*/


.inputdemoIcons .inputIconDemo {
  min-height: 48px; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green; }
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue; }
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
  color: red; }