<md-toolbar class="md-whiteframe-z2" ng-controller="NavbarCtrl">
    <center><img src="assets/images/profile.png" height="100" width="100"></center>
</md-toolbar>
<ul id="docs-menu-Demos" class="menu-toggle-list" style="height: 1200px;">
    <li class="ng-scope">
        <menu-link section="page" class="ng-isolate-scope">
            <a class="md-button md-default-theme active" ng-class="{'active' : isSelected()}" ng-href="#" tabindex="0">
                <span class="ng-binding ng-scope">
  Dashboard
  </span>
                <div class="md-ripple-container"></div>
            </a>
        </menu-link>
    </li>
    <li class="ng-scope">
        <menu-link section="page" class="ng-isolate-scope">
            <a class="md-button md-default-theme active" ng-class="{'active' : isSelected()}" ng-href="#" tabindex="0">
                <span class="ng-binding ng-scope">
  My Posts
  </span>
                <div class="md-ripple-container"></div>
            </a>
        </menu-link>
    </li>
</ul>