<!--  <md-toolbar class="md-whiteframe-z2" ng-controller="NavbarCtrl">

  <center><img src="assets/images/profile.png" height="100" width="100"></center>
 

</md-toolbar>
<ul id="docs-menu-Demos" class="menu-toggle-list" style="height: 1200px;">
<li class="ng-scope">
    <menu-link section="page" class="ng-isolate-scope">
    <a style="width:100% ;  text-align: left;  margin-left: 0px;" class="md-button md-default-theme active" ng-transclude="" ng-class="{'active' : isSelected()}" ng-href="#" tabindex="0">
    <span class="ng-binding ng-scope">
  Dashboard
  </span>
<div class="md-ripple-container"></div></a>
</menu-link>
  </li>
  <li class="ng-scope">
    <menu-link section="page" class="ng-isolate-scope">
    <a style="width:100%;   text-align: left;  margin-left: 0px;" class="md-button md-default-theme active" ng-transclude="" ng-class="{'active' : isSelected()}" ng-href="#" tabindex="0">
    <span class="ng-binding ng-scope">
  My Posts
  </span>
<div class="md-ripple-container"></div></a>
</menu-link>
  </li>
</ul> -->

<md-toolbar class="md-whiteframe-z1" style="
   background-color: orange;
   color: rgb(69, 90, 100);
">
 <center><img src="assets/images/profile.png" height="100" width="100">
       <h2>One Day Job</h2></center>
   </md-toolbar>

<div align = "center">
 <md-menu-content width="4" class="md-default-theme" style="background-color: rgb(69, 90, 100); color:whitesmoke">
   <md-menu-item>
     <button class="md-button " md-ink-ripple tabindex="0">
       <span >
                   Dashboard
         </span>      <div class="md-ripple-container"></div>

     </button>
   </md-menu-item>
   <md-menu-divider></md-menu-divider>
   <md-menu-item>
     <button class="md-button " md-ink-ripple tabindex="0">
       <span >
                 My Posts
         </span>      <div class="md-ripple-container"></div>

     </button>
   </md-menu-item>
 </md-menu-content>
</div>