<div >
    <md-toolbar layout="column" class="md-whiteframe-z1 md-toolbar-tools md-tall" style="
   background-color: Light-blue;color:whitesmoke;" ng-controller="NavbarCtrl">
    <a href="/">
                   <img src="assets/images/logo.png" height="70" width="100" > 
          <!--       <h3>One Day Job</h3> -->
                </a>
        <div layout="column" flex>

            <div layout="row">
                <md-button class="menu" hide-gt-sm ng-click="toggleList()" ng-if="isLoggedIn()" aria-label="Show User List">
                    <md-icon md-svg-icon="assets/images/menu.svg"></md-icon>
                </md-button>
              
                <span flex></span>
                <md-list-item ng-if="isLoggedIn()">
                    <md-button href="/dashboard" hide show-gt-sm>Dashboard</md-button>
                    <a href="/settings">
                    <img style="border-radius: 30px" src="{{getCurrentUser.photo ? getCurrentUser.photo : 'assets/images/profile.png'}}" height="40" width="40">
                  </a>
                </md-list-item>
                <md-button ng-if="isLoggedIn()" ng-click="logout()">
                    <p>Logout</p>
                </md-button>
                <md-menu md-position-mode="target-right target" ng-if="!isLoggedIn()">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin md-svg-icon="assets/images/moreVert.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item >
                            <md-button href="/login">
                                <p>Login</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="/signup">
                                <p>Sign Up</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
</md-toolbar>

</div>
