<div >
    <md-toolbar layout="column" class="md-whiteframe-z1 md-toolbar-tools md-tall" style="
   background-color: rgb(0,102,0);color:whitesmoke;" ng-controller="NavbarCtrl">
        <div layout="column" flex>
            <div layout="row">
                <md-button class="menu" hide-gt-sm ng-click="toggleList()" ng-if="isLoggedIn()" aria-label="Show User List">
                    <md-icon md-svg-icon="assets/images/menu.svg"></md-icon>
                </md-button>
                <a href="/">
                   <img src="assets/images/logoone.png" height="100" width="100" > 
          <!--       <h3>One Day Job</h3> -->
                </a>
                <span flex></span>
                <md-list-item ng-if="isLoggedIn()">
                    <md-button href="/dashboard" hide show-gt-sm>Dashboard</md-button>
                    <a href="/settings">
                    <img src="assets/images/profile.png" height="40" width="40">
                  </a>
                </md-list-item>
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-icon md-menu-origin md-svg-icon="assets/images/moreVert.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-if="isLoggedIn()">
                            <md-button ng-click="logout()">
                                <p>Logout</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!isLoggedIn()">
                            <md-button href="/login">
                                <p>Login</p>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="!isLoggedIn()">
                            <md-button href="/signup">
                                <p>Sign Up</p>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div layout="row" >
                <span flex></span>
                <input ng-model="searchTerm" type="search" placeholder="Search..." style="border: none; padding: 0px; margin: 0px; height: auto; z-index: 6; left: 0px; outline: none;transparent;">
                <button class="searchbutton" style="border: none; padding: 0px; margin: 0px;  z-index: 6; left: 0px; outline: none;transparent;" ng-click="search()"></button>
                <span flex></span>
            </div>
        </div>
</md-toolbar>

</div>
