<div class="main">
    <div my-button layout-sm="column" layout-align-sm="end end" layout-align-sm="end end" style="z-index: +1"></div>
    <div class="card__container" layout-align="center">
        <div layout="column" layout-gt-sm="row">
            <md-card flex ng-class="{ 'md-whiteframe-z4' : hovering}" ng-mouseenter="hovering = true" ng-mouseleave="hovering = false" style="height:400px">
                <md-card-content>
                    <h3>Filter</h3>
                    <br>
                    <md-input-container>
                        <label>Search by title</label>
                        <input ng-model="searchText" type="search">
                    </md-input-container>
                    <md-button class="md-raised md-warn" ng-click="clearFilter()">Clear filter</md-button>
                    <md-select ng-model="search.category" placeholder="Categories">
                        <md-option ng-repeat="item in categories">{{item.name}}</md-option>
                    </md-select>
                    <md-select ng-model="search.location" placeholder="Location">
                        <md-option ng-repeat="item in locations">{{item.stateName}}</md-option>
                    </md-select>
                </md-card-content>
            </md-card>
            <md-content style="background: transparent;"class="cards" layout="column">
                <md-card ng-class="{ 'md-whiteframe-z5' : hover, 'lightGray':item.closed}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-repeat="item in tasks | filter:searchText |orderBy: '-jobDate'">
                    <div layout="row">
                        <a href="#"><img ng-src="assets/icon.png" class="mini-avatar "></a> <h4>{{item.title}} - <b ng-if="item.closed" style="color: red">CLOSED</b></h4>
                    </div>
                    <md-divider></md-divider>
                    <md-card-content layout="column" layout-sm="column">
                        <div layout="column">
                            <h4>Description: {{item.description | cut:true:100:' ...'}}</h4>
                            <md-divider></md-divider>
                            <div layout="row">
                                <p class="text-pad">Location : {{item.location}}</p>
                                <p class="text-pad">Job Date: {{item.jobDate | date}}</p>
                            </div>
                        </div>
                        <div layout="column" ng-if="item.coords">
                            <ui-gmap-google-map center="item.map.center" zoom="item.map.zoom" draggable="true" options="options">
                                <ui-gmap-marker fit="true" ng-if="item.coords" coords="item.coords" idkey="item.coords.id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        <div layout="row">
                            <div ng-if="isLoggedIn()" class="md-actions" layout="row" layout-align="end end" flex>
                                <md-button ng-show="isAdmin() || (currentUser()._id == item.owner)" ng-click="deleteJob(item)" class="delBtn md-icon-button" aria-label="More">
                                    <md-icon md-svg-src="assets/images/trash1.svg"></md-icon>
                                </md-button>
                                <a href="/details//{{item._id}}">
                                    <md-button>Show details</md-button>
                                </a>
                            </div>
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                </md-card>
            </md-content>
            <div flex></div>
        </div>
    </div>
    <footer class="footer">
        <div style="position: relative; width: 100%; text-align: left; top: 6px">
                      Reglementari legale:
                <a href="/legeZilieri" target="_blank">Legea zilierilor nr. 52/2011 (actualizata in 2015)</a> &nbsp;&nbsp;
                     © OneDayJob 2016. All right reserved.
        </div>
        </footer>
</div>