.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
    min-height: 30px;
}

.navbar-text {
    margin-left: 15px;
}

.avatar {
    height: 48px;
    width: 48px;
    margin: 10px;
    border-radius: 100px;
}

.newJob {
    position: fixed;
    right: 350px;
}
.mini-avatar{
        height: 48px;
    width: 48px;
    margin: 10px;
    border-radius: 100px;
}

.cards{
    margin: 0 auto;
    width: 50%;
}

.text-pad{
    margin-right: 15px;
    margin-left:15px;
}
.filter-card{
    height: 400px;
}
.main{
    padding-top: 70px;
}
.lightGray{
    background-color: lightgray;
}
.delBtn{
    position: relative;
    float: left;
    right: 470px;
}
.angular-google-map-container {
    height: 400px;
    width: 100%;
}

