<div style="padding-top:50px;"></div>
<md-content layout="row" style="background-color: transparent !important;">
    <md-card flex="60" style="margin: 0 auto;" class="md-whiteframe-z3">
        <md-card-content>
            <div layout="column">
                <h1> Denumire job: {{job.title}}</h1>
                <h2> Postat de: </h2>
                <md-list>
                    <md-list-item class="md-3-line">
                        <img src="{{user.photo ? user.photo : 'http://i.imgur.com/uN1SCcs.jpg'}}" class="face" alt="Avatar">
                        <div class="md-list-item-text">
                            <h3><b>Nume: </b>{{user.firstName + ' ' + user.lastName}}</h3>
                            <p>
                                <b>Telefon: </b>{{user.phone}}
                            </p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div layout="column" >
                <h3> Categorie: </h3> {{job.category}}
                <h3> Descriere job: </h3> {{job.description}}
                <h3> Nr. posturi libere: </h3> {{job.helpers}}
                <h3> Deadline: </h3> {{job.jobDate | date}}
                <h3> Salariu: </h3> {{job.paycheck}}
                <h3> Locatie: </h3> {{job.location}}
                <div class="md-actions" layout="row" layout-align="end end">
                    <md-button href = "/" class="md-raised md-warn">Back</md-button>
                </div>
            </div>
        </md-card-content>    
    </md-card>
</md-content>

<br>
<md-content>
    <h1 style="margin: 20px 0 0 15px" >Comments ({{job.comments.length}})
        <md-button style="float: right;" ng-if="showIfOwner && job.helpers == 0 && !job.closed" ng-click="confirmApplicants()" class="md-raised md-warn">Hire selected</md-button>
    </h1>
    <div layout="column" flex style="width: 100%">
        <md-container layout="column" flex>
            <div layout="row" ng-show="isLoggedIn() && job.helpers">
                <span flex ="10"></span>
                <span flex layout="row">
                    <form class="form" name="form" ng-submit="addComment()" flex>
                        <md-input-container >
                            <label>Comment</label>
                            <input  ng-model="commentText" type="text" required>
                        </md-input-container>
                    </form>
                    <div class="md-actions" layout="row" layout-align="center center">
                        <md-button class="md-raised" ng-click="addComment(); answer('closed')" ng-disabled="form.$invalid">Submit</md-button> 
                    </div>
                </span>
                <span flex ="10"></span>
                <md-divider></md-divider>
            </div>
                
            <div layout="column">
                <md-list>
                    <md-list-item  class="md-3-line" ng-repeat="item in job.comments" ng-class="{'lightGray' : item.isAccepted}">
                        <img src="{{item.photo ? item.photo : 'http://i.imgur.com/uN1SCcs.jpg'}}" class="face" alt="Avatar">
                        <div class="md-list-item-text" >
                            <h3>Postat de :{{item.owner}} - <input-stars max="5" readonly="true" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="user.rating"></input-stars></h3>
                            <p>
                                <b>Mesaj: </b>{{item.text}}
                            </p>
                            <p>
                                <b>Telefon: </b>{{item.phone}}
                            </p>
                            <p>
                                <b>Rate comment: <input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="item.rating"></input-stars></b>
                                <md-button style="float: right;" class="md-raised" ng-click="rateComment(item)">Submit rating</md-button>
                            </p>
                            <p ng-if="item.isAccepted">
                              <b style="color: red">HIRED</b>
                            </p>
                        </div>
                        <md-checkbox ng-if="showIfOwner && !job.closed" style="margin-top: 70px" ng-click="toggle(item, selected)">
                        </md-checkbox>
                    <md-divider md-inset></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-container>
    </div>
</md-content>   
